<div class="row">
  <div class="col-lg-10">
    <div class="card position-relative">
      <div class="card-header py-3">
        <h2 class="title">Editar Perfil Usuario</h2>
      </div>
      <div class="card-body">
        <div>
          <%= render 'form', profile: @profile %>
        </div>
      </div>
    </div>
  </div>
</div>