<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @requirement_detail_reason.name %>
</p>

<%= link_to 'Edit', edit_requirement_detail_reason_path(@requirement_detail_reason) %> |
<%= link_to 'Back', requirement_detail_reasons_path %>
