<%= render partial: 'layouts/menu' %>

<div class="container pt-3">

  <div class="row justify-content-center">

    <div class="col-10">

      <div class="col-2">
        <!-- campo vacío -->
      </div>

      <div class="col-10">
        <!-- campo vacío -->

        <form>
          <div class="row">

            <div class="col-4">
              <h5>Crear Usuario</h5>
              <br>
            </div>

          </div>

          <div class="row">

            <div class="col-4 class-group">
              <div class="form-group">
                <label for="TipoDocumento">Tipo de Documento:</label>
                <select class="form-control" id="TipoDocumento">
                  <option>DNI</option>
                  <option>CEX</option>
                  <option>Pasaporte</option>
                </select>
              </div>
            </div>

            <div class="col-4 class-group">
              <label for="NroDocumento">Nro. Documento:</label>
              <input type="text" class="form-control" id="NroDocumento">
            </div>

          </div>

          <div class="row">
            <div class="col-8 class-group">
              <label for="Nombres">Nombres:</label>
              <input type="text" class="form-control" id="Nombres">
            </div>

          </div>


          <div class="row">

            <div class="col-4 class-group">
              <br>
              <label for="ApPaterno">Apellido Paterno:</label>
              <input type="text" class="form-control" id="ApPaterno">
            </div>

            <div class="col-4 class-group">
              <br>
              <label for="ApMaterno">Apellido Materno:</label>
              <input type="text" class="form-control" id="ApMaterno">
            </div>

          </div>

          <div class="row">

            <div class="col-4 class-group">
              <br>
              <label for="E_Mail">Correo Electrónico:</label>
              <input type="mail" class="form-control" id="E_Mail">
            </div>

          </div>

          <div class="row">

            <div class="col-4 class-group">
              <br>
              <label for="UsuarioAutogenerado">Usuario utogenerado:</label>
              <input type="text" class="form-control" id="UsuarioAutogenerado">
            </div>

            <div class="col-4 class-group">
              <br>
              <label for="ClaveTemporal">Clave Temporal:</label>
              <input type="text" class="form-control" id="ClaveTemporal">
            </div>

          </div>

          <br>

          <div class="row">


            <div class="col-4 class-group">
              <div class="form-group">
                <label for="PerfilUsuario">Perfil de Usuario:</label>
                <select class="form-control" id="TipoPerfilUsuario">
                  <option>Comercial</option>
                  <option>TI</option>
                  <option>Administrativo</option>
                </select>
              </div>
            </div>


            <div class="col-4 class-group">

              <div class="form-group">
                <label for="EstadoUsuario">Estado de Usuario:</label>
                <select class="form-control" id="EstadoUsuario">
                  <option>Activo</option>
                  <option>Inactivo</option>
                </select>
              </div>

            </div>


            <div class="col-4 class-group">
              <div class="col-sm-4 pt-4">
                <button type="submit" class="btn btn-primary">REGISTRAR</button>
              </div>
            </div>

          </div>


        </form>


      </div>

    </div>


  </div>

</div>