<%= render partial: 'layouts/menu' %>

<div class="container pt-3">

  <div class="row justify-content-center">

    <div class="col-10">

      <div class="col-2">
        <!-- campo vacío -->
      </div>

      <div class="col-10">
        <!-- campo vacío -->

        <form>
          <div class="row">

            <div class="col-4">
              <h5>Registrar Requerimiento</h5>
              <br>
            </div>

          </div>

          <div class="row">

            <div class="col-4 class-group">
              <label for="ID_Cliente">ID Cliente:</label>
              <input type="text" class="form-control" id="ID_Cliente">
            </div>

          </div>

          <div class="row">
            <div class="col-4">
              <br>
              <button type="button" class="btn btn-outline-success">BUSCAR</button>
            </div>

          </div>

          <div class="row">

            <div class="col-4 class-group">
              <br>
              <label for="Nombre_RzSocial">Nombre / Razón Social:</label>
              <input type="text" class="form-control" id="Nombre_RzSocial">
            </div>

            <div class="col-4 class-group">
              <br>
              <label for="DireccionCliente">Dirección Cliente:</label>
              <input type="text" class="form-control" id="DireccionCliente">
            </div>

            <div class="col-4 class-group">
              <br>
              <label for="DireccionRQ">Dirección Requerimiento:</label>
              <input type="text" class="form-control" id="DireccionRQ">
            </div>

          </div>

          <div class="row">

            <div class="col-4 class-group">
              <br>
              <div class="form-group">
                <label for="sel1">Tipo de Requerimiento:</label>
                <select class="form-control" id="sel1">
                  <option>Nueva Instalación</option>
                  <option>Retiro Temporal</option>
                  <option>Retiro Definitivo</option>
                  <option>Reubicación</option>
                  <option>Recambio</option>
                  <option>Migración</option>
                </select>
              </div>
            </div>

          </div>


          <div class="row">

            <div class="col-8 class-group">
              <br>
              <label for="Observaciones">Observaciones:</label>
              <textarea class="form-control" rows="5" id="Observaciones"></textarea>
            </div>

            <div class="col-4 class-group">
              <br>
              <br>
              <br>
              <br>
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">REGISTRAR</button>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>