<div class="row">
  <div class="col-lg-10">

    <div class="card position-relative">
      <div class="card-header py-3">
        <h2 class="title">Detalle Departamento</h2>
      </div>
      <div class="card-body">
        <div>
        	<div class="items">
  				<div class="block-form">
		          <fieldset-standard>
				   	<div class="field">
						<div class="items">
					    	<div class="block-100">
					         	<strong>Name:</strong> 
					        </div>
				            <div class="block-100">
				            	<%= @department.name %> 
				            </div>
					  	</div>                
					</div>
				    <div class="field">
					    <div class="items">
					        <div class="block-100">
					      		<strong>Ubigeo:</strong>
					        </div>
					        <div class="block-100">
					       		<%= @department.ubigeo %>
					        </div>
					    </div>                
					</div>
					<div class="items">
			          <div class="block-50-center">
			            <%= link_to "Editar", edit_department_path(@department), :class => "btn btn-success" %>
			          </div>
			          <div class="block-50-center" >
			              <%= link_to 'Atras', departments_path, :class => "btn btn-info" %>
			          </div>
			        </div>
				  </fieldset>
				</div> 
			</div>
        </div>
      </div>
    </div>
  </div>
</div>