<h1>Editing Requirement Detail State</h1>

<%= render 'form', requirement_detail_state: @requirement_detail_state %>

<%= link_to 'Show', @requirement_detail_state %> |
<%= link_to 'Back', requirement_detail_states_path %>
