<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @requirement_detail_state.name %>
</p>

<%= link_to 'Edit', edit_requirement_detail_state_path(@requirement_detail_state) %> |
<%= link_to 'Back', requirement_detail_states_path %>
