<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @requirement_state.name %>
</p>

<%= link_to 'Edit', edit_requirement_state_path(@requirement_state) %> |
<%= link_to 'Back', requirement_states_path %>
