<!-- Logueo -->
<div class="container pt-3 pb-3">
  <div class="row justify-content-center">

    <div class="col-sm-12 col-md-8">

      <div class="container-fluid">
        <h4 class="pb-4">INGRESE AL SISTEMA</h4>
        <form class="form-signin">
          <div class="form-group row">
            <label for="inputEmail" class="sr-only">Correo</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Correo" required="" autofocus="">
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
          </div>
          <div class="form-group row">
            <%= link_to "¿Olvidó usuario o contraseña?", login_recuperacion_psw_path %>
          </div>
          <div class="form-group row">
            <%= link_to "Ingresar", home_index_path, class: "btn btn-lg btn-primary btn-block" %>
          </div>
          <p class="mt-5 mb-3 text-muted">© 2020</p>
        </form>
      </div>

    </div>

  </div>
</div>
<!-- /Logueo -->