<div class="container pt-3 pb-3">
  <div class="row">

    <div class="col-1">
      <!-- campo vacío -->

    </div>

    <div class="col-4">
      <H6>RECUPERAR USUARIO / CONTRASEÑA</H6>
      <BR>
      <form>
        <div class="form-group row">
          <label for="inputMail" class="col-sm-6 col-form-label">Correo</label>
          <div class="col-sm-10">
            <input type="mail" class="form-control" id="inputMail">
          </div>
        </div>

        <div class="row">

          <div class="col-4">
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">RESTABLECER</button>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">CANCELAR</button>
              </div>
            </div>

          </div>

        </div>

      </form>

    </div>

    <div class="col-7">
      <!-- campo vacío -->

    </div>

  </div>
</div>