<!-- Recuperacion -->
<div class="container pt-3 pb-3">
  <div class="row justify-content-center">

    <div class="col-sm-12 col-md-8">

      <div class="container-fluid">
        <h4 class="pb-4">RECUPERAR USUARIO Y/CONTRASEÑA</h4>
        <form class="form-signin">
          <div class="form-group row">
            <label for="inputMail" class="sr-only">Correo</label>
            <input type="email" id="inputMail" class="form-control" placeholder="Correo" required="" autofocus="">
          </div>
          <div class="form-group row">
            <a class="btn btn-lg btn-primary btn-block" href="/login/recuperacion_psw_nuevo_psw">Restablecer</a>
          </div>
          <div class="form-group row">
            <a class="btn btn-lg btn-primary btn-block" href="/">Cancelar</a>
          </div>
          <p class="mt-5 mb-3 text-muted">© 2020</p>
        </form>
      </div>

    </div>

  </div>
</div>
<!-- /Recuperacion -->