<%= render partial: 'layouts/menu' %>

<div class="container pt-3">

  <div class="row justify-content-center">

    <div class="col-10">
      <!-- campo vacío -->

      <form>
        <div class="row">

          <div class="col-4">
            <h5>Crear Cliente</h5>
            <br>
          </div>

        </div>

        <div class="row">

          <div class="col-4 class-group">
            <div class="form-group">
              <label for="TipoDocumento">Tipo de Documento:</label>
              <select class="form-control" id="TipoDocumento">
                <option>DNI</option>
                <option>RUC</option>
                <option>CEX</option>
                <option>Pasaporte</option>
              </select>
            </div>
          </div>

          <div class="col-4 class-group">
            <label for="NroDocumento">Nro. Documento:</label>
            <input type="text" class="form-control" id="NroDocumento">
          </div>

        </div>

        <div class="row">
          <div class="col-8 class-group">
            <label for="Nombre_RzSocial">Nombres / Razón Social:</label>
            <input type="text" class="form-control" id="Nombre_RzSocial">
          </div>

        </div>

        <div class="row">

          <div class="col-4 class-group">
            <br>
            <label for="ApPaterno">Apellido Paterno:</label>
            <input type="text" class="form-control" id="ApPaterno">
          </div>

          <div class="col-4 class-group">
            <br>
            <label for="ApMaterno">Apellido Materno:</label>
            <input type="text" class="form-control" id="ApMaterno">
          </div>

        </div>

        <div class="row">

          <div class="col-8 class-group">
            <br>
            <label for="DireccionCliente">Dirección Cliente:</label>
            <input type="text" class="form-control" id="DireccionCliente">
          </div>

        </div>

        <div class="row">

          <div class="col-4 class-group">
            <br>
            <label for="Telefono">Teléfono:</label>
            <input type="text" class="form-control" id="Telefono">
          </div>

          <div class="col-4 class-group">
            <br>
            <label for="Celular">Celular:</label>
            <input type="text" class="form-control" id="Celular">
          </div>

        </div>

        <div class="row">

          <div class="col-4 class-group">
            <br>
            <label for="E_Mail">Correo Electrónico:</label>
            <input type="mail" class="form-control" id="E_Mail">
          </div>

          <div class="col-4 class-group">
            <br>
            <br>
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">REGISTRAR</button>
            </div>
          </div>

        </div>


      </form>


    </div>




  </div>

</div>